@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}
body {
  /* Creating a subtle 40px square grid */
  background-color: #f8fafc; /* Or a very light cream/off-white */
  background-image: 
    linear-gradient(to right, rgba(0,0,0,0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.03) 1px, transparent 1px);
  background-size: 40px 40px;
}
.open span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.open span:nth-child(2) {
  opacity: 0;
}
.open span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

/*Scroll indicator*/
/* When active, the dot fills in and grows */
.dot.active-dot {
  background-color: #fb923c; /* orange-400 */
  transform: scale(1.5);
}

/* When active, the text stays visible even if not hovering */
.section-name.active-text {
  opacity: 1 !important;
  transform: translateX(-5px);
}